[user]
	email = mail@ninodeme.com
	name = Ricardo S. Demeterko
[credential]
	credentialStore = secretservice
[core]
	autocrlf = input
  editor = nvim
[diff]
  tool = nvimdiff

[includeIf "hasconfig:remote.*.url:ssh://git@gitlab.limbersoftware.com.br:*/**"]
  path = ~/.gitconfig.work

[includeIf "hasconfig:remote.*.url:git@gitlab.limbersoftware.com.br:*/**"]
  path = ~/.gitconfig.work

[filter "strip-debug"]
	clean = sed '/@DEBUG@/d'
	smudge = cat
